# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [19]:
import os
import numpy as np
import pandas as pd

In [20]:
# 設定 data_path, 並讀取 app_train

dir_data = '/home/paul/Desktop/3rd_ML_100Days_Tutorial/ML_BasicKnowledge/data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

#### One Hot encoding

In [27]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [29]:
# It is easy to get one Hot encoding in pandas by using pd.get_dummies()
sub_train = pd.get_dummies(sub_train)
print(sub_train.shape)
print(sub_train.head(3))

(307511, 7)
   WEEKDAY_APPR_PROCESS_START_FRIDAY  WEEKDAY_APPR_PROCESS_START_MONDAY  \
0                                  0                                  0
1                                  0                                  1
2                                  0                                  1

   WEEKDAY_APPR_PROCESS_START_SATURDAY  WEEKDAY_APPR_PROCESS_START_SUNDAY  \
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0

   WEEKDAY_APPR_PROCESS_START_THURSDAY  WEEKDAY_APPR_PROCESS_START_TUESDAY  \
0                                    0                                   0
1                                    0                                   0
2                                    0                                   0

   WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                     1
1                                     0
2                                     0

**You can find the number of row keeps the same but the number of columnis now same as the number of unique value in sub_train**

#### Label encoding

In [35]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
print(sub_train.dtypes)
sub_train.head()

(307511, 1)
WEEKDAY_APPR_PROCESS_START    object
dtype: object

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [36]:
from sklearn.preprocessing import LabelEncoder
# Create a label encoder object
le = LabelEncoder()
le_count = 0

le.fit(sub_train["WEEKDAY_APPR_PROCESS_START"])
sub_train["WEEKDAY_APPR_PROCESS_START"] = le.transform(sub_train["WEEKDAY_APPR_PROCESS_START"])

In [37]:
print(sub_train.shape)
print(sub_train.dtypes)
sub_train.head()

(307511, 1)
WEEKDAY_APPR_PROCESS_START    int64
dtype: object

   WEEKDAY_APPR_PROCESS_START
0                           6
1                           1
2                           1
3                           6
4                           4

**The number of row and columns remain the same but the content of column had been change to Integers**